
.sidebar-popup-section {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 9999999999;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: #fff;
    @include transition();
    display: block;
    &.open-left {
      left: 0;
      right: auto;
      transform: translate3d(-100%, 0, 0);
      -webkit-transform: translate3d(-100%, 0, 0);
    }
  
    &.open-right {
      left: auto;
      right: 0;
      transform: translate3d(100%, 0, 0);
      -webkit-transform: translate3d(100%, 0, 0);
    }
  
    &.active {
      -ms-transform: none;
      transform: none;
      -webkit-transform: none;
    }
    &.open-in-mobile {
      width: 70%;
    }
    &.open-in-desktop {
      width: (350 / $d-fs)+rem;
    }
    ul {
      display: block;
      margin: 0;
      padding: 0;
      li {
        display: block;
        a {
          border-bottom: 1px solid #ededed;
          color: #000;
          display: block;
          @include padding(10, 20, 10, 20);
        }
      }
    }
  }
  
  .close-sidebar-setion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include padding(13, 20, 13, 20);
    background: #fafafa;
    border-bottom: 1px solid #eeeeee;
    .title-sidebar-setion img {
      width: 18px;
      margin-right: 5px;
    }
    .close-btn {
      width: 10px;
      cursor: pointer;
    }
  }